<!-- Barra de navegação com logo. -->
<nav>
    <a class="navbar-brand" href="#">
        <img class="logo_nav" src="../assets/Neki-It.png" alt="Logo Neki-It">
    </a>
</nav>

<!--Tabela Principal-->

<table id="tbprincipal" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Natureza</th>
            <th scope="col">Janeiro</th>
            <th scope="col">Fevereiro</th>
            <th scope="col">Março</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<!-- Rodapé -->

<footer>

    <p class="descricao">Programa WEB para a Desmostração do Resultado e Exercício (DRE), desenvolvido para uso interno.</p>

    <hr>

    <img class="logo_footer" src="../assets/Neki-It.png" alt="Logo Neki-It">

    <p class="copyright">Copyright © 2020 | Todos os direitos reservados <a class="link_neki" href="https://neki-it.com.br/">NEKI-IT</a> | Desenvolvido por <a class="link_neki" href="https://neki-it.com.br/">NEKI-IT</a></p>

</footer>